# MongoDB Atlas Configuration
# Vervang <password> door het werkelijke wachtwoord
MONGODB_URI=mongodb+srv://carstoreuser:<password>@cluster0.xxxxx.mongodb.net/carstorecuijk?retryWrites=true&w=majority

# GitHub Configuration
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxx
GITHUB_REPO=battletron1337gh/CarStoreCuijk
GITHUB_BRANCH=master

# Server Configuration
PORT=3000
